body {
  margin: 0;
}

img {
  width: 100%;
}

article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1  1 350px;
  margin: 10px;
  text-align: center;
  font-family: Roboto;
}

nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

}
.Learn {
  text-align: right;
  text-decoration: underline;
  color: blue;
}

#logo {
  width: 5%;
display: flex;
justify-content: flex-start;
}

header {
  background-color: #2a6914;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}


a {
  text-decoration: none;
  color: black;
  font-family:'Comfortaa', cursive;

}
h1{
  font-family: 'Comfortaa', cursive;
  font-size: 28px;
}
.recettes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
max-width: 1320px;
}

.reci{ display: flex;
    flex-direction: column;
    align-items: center;
}

.dif {
  text-decoration: underline;
  text-align: left;
}

p{ text-align: left;}

footer p{
    text-align: left;
    margin: 0;
}
.imgdiv{
    background-image: url(images/cooking.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: -30px;
    background-size: 100%;
    height: 20vw;

}

.contener-footer{
    background-color: #0c4500;
height: 30vw;
}

.wrap{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

article:hover{
  transform: scale(1.1);
}

